<head>
    <link rel="stylesheet" href="../static/style.css">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
<head>
<section class = "container">
	<div class ="title" >
		<h1> Algorithmic Stock Recommender </h1>
        <p>Thong Bui, Natarajan Shankar, Sarah Kelly, Zhongqiao Jin</p>
	</div>
</section>
<section class="container">
    <div>
    <h1>Enter Preferences </h1> 
      <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          How much would you like to invest?:<br>
          {{ form.amount(size=30) }}<br>
      </p>
      <p>
          When would you like returns?:<br>
          {{ form.date(size=40) }}<br>
      </p>
      <p>
          What does your risk tolerance look like?:<br>
          {{ form.risk_tolerance(size=40) }}<br>
      </p>
      <p><input type="submit" value="Get Recommendations"></p>
      </form>
    </div>
    <div> 
      <h1> Primary Recommendation: {{recommended}} </h1>
      <h3> You want to invest {{amount}} dollars</h3>
      <h3> You want returns in {{date}} days.</h3>
      <h3> You are comfortable with a {{risk}} risk level.</h3>
      <h3> Predicted Performance: </h3>
      <h3> rmse = {{main_rmse}} </h3>
      <img src= {{plot_name}} alt="Problem with Image" width="500" height="400">
    </div>
    <div> 
	    <h2 style="color:red">** Investing is risky!! **</h2>
		<h3>
		    This tool is only an investment guide not an expert advisor<br>
		    You could lose all your money<br>
		    Invest carefully after consulting an investment professional.<br><br>
		</h3>
		<h2> An alternative recommendation: {{alternate}} </h2>
        <h3> rmse = {{alternate_rmse}}</h3>
		<img src={{alternative_plot_name}} alt="Problem with Image" width="500" height="400">
    </div>
</section>
<footer class="footer"> c. Thong Bui, Shankar, Sarah, Zhongqiao, 2017 </footer>
