.title {
	background-image: url("images/header.png");
	color: white;
	text-align: center;
	font-size: 170%;
}
.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}
.footer {
    text-align: center;
}