.title {
	background-image: url("images/header.png");
	color: white;
	text-align: center;
	font-size: 150%;
}
.container {
  display: flex;
}
/*
.container > div {
  flex: 1;
}
*/
.footer {
    text-align: center;
}

.button {
  display: inline-block;
  background: #393da3;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.1);
          transform: translate(0px, -10px) scale(1.1);
}

.tooltip
{
  text-decoration:none;
  position:relative;
}


.tooltip span
{
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white;
}


.tooltip span img
{
  float:left;
  margin:0px 8px 8px 0;
}


.tooltip:hover span
{
  display:block;
  position:absolute;
  /* Right tooltip*/
  top:-200;
  left:105%;
  z-index:1000;
  width:auto;
  max-width:640px;
  min-height:200px;
  border:1px solid black;
  margin-top:12px;
  /*margin-left:32px;
  overflow:hidden; */
  padding:8px;
}

table {
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

table, td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}

/*
table tr:hover {
    background-color: #ddd;
}
*/

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #393da3;
    color: white;
}

